footer{
font-family: 'Abhaya Libre', serif;
background-color: rgba(0,0,0,0.5);
position: static;
bottom: 100%;
right:0;
}

footer p{
  font-size: 1em;
}

.Author{
  text-align: right;
}


.footer-copyright{
  background-color: rgba(0, 0, 0, 0.3);

}
