<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Art Gallery</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Partners</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact us!</a></li>
        </ul>
      </div>
      <div class="col l8 s12">
        <h5 class="white-text">Lorem Ipsum</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus leo et ante lacinia maximus. Pellentesque pretium feugiat augue in cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam orci diam, tristique eget est.</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2019 Geisha
      <span class="Author right">Made by <a href="http://facebook.com/gabriel.conde.16">Gabriel Conde</a></span>
    </div>
  </div>
</footer>
