<footer class="default_bg page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/art_gallery">Art Gallery</a></li>
          <li><a class="grey-text text-lighten-3" href="/articles">Articles</a></li>
          <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact us!</a></li>
        </ul>
      </div>
      <div class="col l8 m8 s12">
        <h5 class="white-text">Geisha Online Museum</h5>
        <p class="grey-text text-lighten-4">We are a japanese traditional art museum founded in 2019 for the sake of all the enthusiasts of japanese culture in the world.</p>
        <p class="grey-text text-lighten-4">Our mission is to maecenas sed arcu quis lacus luctus sodales. Etiam finibus rutrum velit, et vehicula quam accumsan id. Curabitur id justo orci. Sed dictum varius felis et consectetur. Aliquam blandit purus ut vulputate tempus. Curabitur commodo mi vitae nisi cursus rutrum vestibulum.</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2019 Geisha
      <span class="Author right">Made by <a href="http://facebook.com/gabriel.conde.16">Gabriel Conde</a></span>
    </div>
  </div>
</footer>
