
<nav class="default_bg">
      <div class="nav-wrapper">
        <a href="home.html" class="brand-logo center"><img src="../../assets/img/geisha.svg" class="logo_size" alt="Logo"></a>
        <a materialize="sideNav" [materializeParams]="[{edge:'left'}]"  href="#" data-activates="mobile-demo" class="hide-on-large-only sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down nav_ul">
          <li><a href="#" class="nav_li"  id="art">Art Gallery</a></li>
          <li><a href="#" class="nav_li">About us</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav_ul">
          <li><a href="#" class=" nav_li">Partners</a></li>
          <li><a href="#" class="nav_li">Contact us!</a></li>
        </ul>
      </div>
    </nav>

    <ul class="side-nav" id="mobile-demo">
      <div class="default_bg side_header">
        <a href="home.html" class="brand-logo center"><img src="../../assets/img/geisha.svg" class="logo_size" alt="Logo"></a>
      </div>
      <li><a href="sass.html">Art Gallery</a></li>
      <li><a href="badges.html">About Us</a></li>
      <li><a href="collapsible.html">Partners</a></li>
      <li><a href="mobile.html">Contact Us!</a></li>
    </ul>
