<div class="default_bg mid_row container">
  <h2 class="center">Arts</h2>
  <div class="row gallery">
    <img class="materialboxed"src="../../../assets/img/Gallery/img9.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img8.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img3.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img1.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img2.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img4.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img5.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img6.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img7.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img10.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img11.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img12.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img13.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img14.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img15.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img16.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img17.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img18.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img19.jpg" alt="">
    <img class="materialboxed"src="../../../assets/img/Gallery/img20.jpg" alt="">
  </div>
</div>
