
#geisha_text{

  margin-top: 0vh;
  height: 70vh;
  padding-top: 5vh;
  font-family: 'brushido', cursive;
  text-align: center;

}


#geisha_text h1{

  font-size: 32vw;
  font-weight: bold;

}


.gallery{

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.gallery img{


  max-width: 10vw;
  min-height: 3vh;
  padding: 0;

}

.mid_row h2{

  font-size: 2em;

}

.espaco{

  height: 10vh

}
