<main>

<!--sobre esse código com Geisha escrito duas vezes:
o que aconteceu foi que o o "GEISHA" não tava legal sem o sombreado
que destaca as coisas no meu site, vulgo box-shadow: 0px 0px 25px black;
o problema é que o text-shadow de fato casta uma sombra embaixo do texto
que nunca vemos (eu acho) pq o texto é sempre de  cor sólida
aí quando eu punha isso no GEISHA ele ficava preto pq o transparente
deixava ver a sombra embaixo, o que eu fiz foi sobrepor
o geisha com sombra com um geisha sem sombra que aí a sombra em volta
apareceria mas a embaixo não-->
  <div id="geisha_text" class="">
    <h1 class="clip">GEISHA</h1>
  </div>
  <div id="geisha_over" class="">
    <h1 class="clip">GEISHA</h1>
  </div>


  <div class="espaco">

  </div>
</main>
