

.clip{
  background: url("../../../assets/img/patterns/saigaiha_new2.png");
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: repeat;
}


.espaco{
  height: 10vh;
}


#geisha_text, #geisha_over{
  margin-top: 0vh;
  height: 70vh;
  padding-top: 5vh;
  font-family: 'brushido', cursive;
  text-align: center;
}


#geisha_over{
  position: relative;
  top: -70vh;
  margin-top: 0vh;
  height: 0vh;
  padding-top: 5vh;
  font-family: 'brushido', cursive;
  text-align: center;
}


#geisha_text h1{
  font-size: 32vw;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
}


#geisha_over h1{
  font-size: 32vw;
  font-weight: bold;
}
