/* You can add global styles to this file, and also import other style files */
/* font-family: 'Abhaya Libre', serif;
font-family: 'Caveat Brush', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'MuseumBibleRegular', serif; */

@font-face {
      src: url("assets/fonts/JAPAB.ttf");
      font-family: 'JAPAB';
}
@font-face {
      src: url("assets/fonts/Brushido.ttf");
      font-family: 'brushido';
}
@font-face {
      src: url("assets/fonts/Fujimaru.ttf");
      font-family: 'fujimaru';
}
@font-face {
      src: url("assets/fonts/embers.ttf");
      font-family: 'embers';
}


body{
  /* font-family: 'Abhaya Libre', serif; */
  font-family: 'MuseumBibleRegular', serif;
  width: 100%;
}


h2{
  /* font-family: 'embers', cursive; */
  /* font-family: 'Nanum Brush Script', cursive; */
  /* font-family: 'Caveat Brush', cursive; */
  font-family: 'MuseumBibleRegular', serif;
  color: #ffffff;
}


p{
  font-size: 1.4em;
}



.mid_row{
  margin-top:15vh;
  margin-bottom:15vh;
  box-shadow: 0px 0px 10px black;
  color: #fff;
}


.mid_row::after{
  text-shadow: 0px 0px 10px black;
}


.home_bg{
  z-index: 0;
  background-image: url("assets/img/Sessho.jpeg");
  background-size: cover;
  background-attachment: fixed;
}


.default_bg{
  background: url("assets/img/patterns/saigaiha_new2.png");
  background-repeat: repeat;
  background-attachment: fixed;
}


.gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.gallery img{
  max-width: 10vw;
  min-height: 3vh;
  padding: 0;
}


.gallery img {
    margin: 2vh 3vw;
    box-shadow: 0px 0px 10px black;
}


.gallery img:hover {
    transition: all 1s ease;
    transform: scale(1.2,1.2);
}
